/* InputText */
.p-inputtext {
    height: 45px;
    font-size: 15px;
    box-shadow: none;
}

/* Button */
.p-button {
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: none;
}

/* Dropdown */
.p-dropdown {
    height: 45px;
    box-shadow: none;
}

.p-dropdown-items {
    margin: 0;
    padding: 0;
}

/* Datatable */
.p-datatable {
    font-size: 15px;
}

.p-datatable-thead {
    th {
        background: $white;
    }
}

.p-datatable-loading-overlay {
    background: rgba(255, 255, 255, 0.63);
}

/* Define a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
}

/* Define a altura da alça da barra de rolagem */
::-webkit-scrollbar-thumb {
    height: 5px;
}

/* Define a cor da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: gainsboro;
}

/* Define a cor da alça da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: gray;
}
