@import './components.scss';
@import './variables.scss';


.button-icon-view {
    font-size: 20px;
    color: $dark-gray;

    &:hover {
        cursor: pointer;
    }
}

.button-icon-edit {
    font-size: 20px;
    color: $blue;

    &:hover {
        cursor: pointer;
    }
}

.button-icon-delete {
    font-size: 20px;
    color: $red;

    &:hover {
        cursor: pointer;
    }
}

.input-readonly {
    background: #e2e2e2 !important;
}