$green: #30bb80;
$green-hover: #059669;

$dark-gray: #4b5563;
$blue: #117cdf;
$dark-blue: #045db1;
$red: #EF4444;
$white: #ffffff;
$orange: #F59E0B;

$text: #505050;
$text-dark: #2a2a2a;

$border-gray: #c9c9c9;
$border-ext-gray: #e1e1e1;